.category {
    min-height: 100vh;
    background-image: var(--yellow-gradient);
    padding: 2rem;

}
.category-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 8rem 0;
}

@media screen and (max-width:768px){
    .women-container{
        padding: 1rem 0;
        gap: 1rem;
    }
}