@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Pacifico&display=swap');

:root {
  --first-gradient:linear-gradient(226.97deg, rgba(141, 253, 211, 0.42) 18.98%, rgba(137, 156, 236, 0.6) 31.28%, rgba(107, 108, 230, 0.6) 39.34%, rgba(255, 251, 150, 0.6) 60.03%, rgba(1, 205, 254, 0.6) 73.01%, rgba(255, 113, 206, 0.6) 88.91%);
  --second-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(226.97deg, rgba(141, 253, 211, 0.63) 18.98%, rgba(137, 156, 236, 0.9) 31.28%, rgba(107, 108, 230, 0.9) 39.34%, rgba(255, 251, 150, 0.9) 60.03%, rgba(1, 205, 254, 0.9) 73.01%, rgba(255, 113, 206, 0.9) 88.91%);
  --third-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(226.97deg, rgba(141, 253, 211, 0.42) 18.98%, rgba(137, 156, 236, 0.6) 31.28%, rgba(107, 108, 230, 0.6) 39.34%, rgba(255, 251, 150, 0.6) 60.03%, rgba(1, 205, 254, 0.6) 73.01%, rgba(255, 113, 206, 0.6) 88.91%);
  --fourth-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(226.97deg, rgba(141, 253, 211, 0.6) 20.73%, rgba(107, 108, 230, 0.6) 41.91%, rgba(255, 251, 150, 0.6) 60.03%, rgba(1, 205, 254, 0.6) 79.44%, rgba(163, 221, 199, 0.6) 89.91%);
  --fifth-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(226.97deg, rgba(1, 205, 254, 0.6) 20.73%, rgba(107, 108, 230, 0.6) 41.91%, rgba(255, 251, 150, 0.6) 60.03%, rgba(107, 108, 230, 0.6) 79.44%, rgba(163, 221, 199, 0.6) 89.91%);
  --yellow-gradient: linear-gradient(0.05deg, rgba(255, 251, 150, 0.56) -0.87%, rgba(255, 251, 150, 0.4) 20.25%, rgba(255, 251, 150, 0.8) 38.4%, rgba(255, 251, 150, 0.4) 57.65%, rgba(255, 251, 150, 0.56) 80.54%, rgba(255, 251, 150, 0.56) 80.54%);
  --black:#312D2D;
  --blue:#B1CCF3;
  --blue-darker:#899CEC;
  --pink:#FF71CE;
  --pink-darker:#E669BA;
  --yellow:#FEFBB2;
  --transition:all 0.3s linear;
  --spacing:0.1rem;
  --radius:0.25rem;
  --light-shadow:0 5px 15px  rgba($color: #000000, $alpha: 0.1);
  --dark-shadow:0 5px 15px  rgba($color: #000000, $alpha: 0.2);
  --normal-font-size:1.4rem;
}

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .2s linear;
}


html{
  overflow-x: hidden;
  scroll-padding-top: -.5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{ width: .8rem;}
html::-webkit-scrollbar-track {background: transparent;}
html::-webkit-scrollbar-thumb {background: var(--yellow); border-radius: 5rem;}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  color: var(--black);
  line-height:1.5 ;
  font-size: 62.5%;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: .75rem;
}

h1{
  font-size: 3.5rem;
}
h2{
  font-size:2.5rem;
}
h3{
  font-size: 1.75rem;
}
h4 {
  font-size: 1rem;
  font-weight: 500;
}

p{
  font-size: .8rem;
}
button {
  border: none;
  outline: none;
}

@media screen and (max-width:992px){
  h1{ font-size: 2.5rem;}
  h2{font-size: 2rem;}
  h3{font-size: 1.25rem;}
  h4{font-size: .7rem; }


}

@media screen and (max-width:768px){
  h1{ font-size: 2.3rem;}
  h2{font-size: 1.8rem;}
  :root {
    --normal-font-size: 1.2rem;
  }
}